/* assets/style.css 에 추가해 보세요 */
@font-face {
  font-family: 'Stretch Pro';
  src: url('./fonts/StretchPro.otf') format('opentype')
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Stretch Pro', sans-serif;
}

#left-column {
  text-align: center;
}

ul {
  font-family: Stretch Pro;
  list-style: none;
  padding: 0;
}

li {
  font-family: Stretch Pro;
  margin: 10px 0;
  font-size: 0.8rem;
}

a {
  color: #ffffff;
  transition: all 0.5s ease-out; /* 부드러운 변화를 위해 필수 */
  cursor: pointer;
}

a:hover {
  letter-spacing: 5px;
  color: #FF3DF2; /* 원하는 색상으로 변경 (예: 노란색/메탈 골드) */
}

h1 {
  font-family: Stretch Pro;
	font-weight: 850;
	font-size: 2.2rem;
  transition: all 0.5s ease-out; /* 부드러운 변화를 위해 필수 */
  cursor: pointer;
}

h1:hover {
  letter-spacing: 10px; /* 자간이 넓어짐 */
  color: #266BFF;      /* 마젠타 핑크로 변경 */
}

h3 {
  font-family: Stretch Pro;
  font-size: 0.9rem;
  color: #C0FF11
}
